<button
  class="group border-2 border-dashed border-white rounded-xl text-white flex flex-col items-center justify-center h-72 w-64 transition duration-300 opacity-50 focus:opacity-100 hover:opacity-100"
  (click)="handleButtonClick()"
>
  <svg-icon
    class="group-focus:-translate-y-1 group-focus:scale-110 group-hover:-translate-y-1 group-hover:scale-110 transition-transform duration-300"
    key="plus"
    size="xxl"
  ></svg-icon>
  <span class="text-zinc-300 text-lg py-2 transition-opacity duration-300"
    >Add wrapup</span
  >
</button>
