<div class="w-16">
  <img
    ngSrc="/assets/wrap-up-white-logo.svg"
    width="64"
    height="58"
    alt="Wrap-up logo"
  />
</div>

<div class="text-center">
  <p
    class="text-8xl font-extrabold mb-8 bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
  >
    Daily wrap-ups instead of daily stand-ups
  </p>

  <p class="text-3xl">
    Sometimes it's much easier and faster to write things down than having calls
  </p>

  <p class="text-3xl">
    Wrapup is a tool that helps you to keep track of your project progress
    without calls
  </p>
</div>

<div class="h-full flex justify-center items-center">
  <div class="w-full px-10">
    <input
      type="text"
      placeholder="New project..."
      class="w-full text-10xl bg-transparent border-0 outline-none"
      autofocus
      spellcheck="false"
      [formControl]="nameControl"
    />
    <button wrapupButton (click)="save()">Save</button>
    <button
      wrapupButton
      data-test-id="open-login-dialog-button"
      (click)="openLoginDialog()"
    >
      Log in
    </button>
    <button
      wrapupButton
      data-test-id="open-create-account-dialog-button"
      (click)="openCreateAccountDialog()"
    >
      Create account
    </button>
  </div>
</div>
